# Exercise 1

In [1]:
# collect products from input
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
#add the products
product = num1 * num2
#print answer
print(f"The product of {num1} and {num2} is: {product}")

Enter the first number:  1
Enter the second number:  2

The product of 1.0 and 2.0 is: 2.0

# Exercise 2

In [2]:
# initialize strings
word1 = "Name"
word2 = "Is"
word3 = "James"
# format strings
formatted_string = f"{word1}**{word2}**{word3}"
print(formatted_string)

Name**Is**James

# Excercise 3

In [3]:
#initialize float
float_number = 458.541315
# print formattted float
print(f"Formatted float number: {float_number:.2f}")

Formatted float number: 458.54

# Excercise 4

In [4]:
# Get input from the user
input_string = input("Enter three names separated by spaces: ")
# Split the input string into a list of names
names = input_string.split()
# Check if exactly three names were entered
if len(names) == 3:
     # Display each name with a corresponding label
    print("Name1:", names[0])
    print("Name2:", names[1])
    print("Name3:", names[2])
else:
     # Display an error message if the input is not as expected
    print("Please enter exactly three names separated by spaces.")

Enter three names separated by spaces:  Alex jake hh

Name1: Alex
Name2: jake
Name3: hh

# Excercise 5

In [5]:
# Get input from the user

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
# get the product of the inputs
product = num1 * num2
#check if product is less than or equals to 1000
if product <= 1000:
    # print product if product is less than or equals to 1000
    print(f"The result is: {product}")
else:
     #else print  the sum of inputs
    total_sum = num1 + num2
    print(f"The result is: {total_sum}")

Enter the first number:  2
Enter the second number:  3

The result is: 6

# Excercise 6

In [6]:
# Print a message indicating the operation being performed
print("Printing current and previous number sum in a range(10)")

# Iterate through numbers in the range(10)
for current_number in range(10):
    # Determine the previous number (0 for the first iteration)
    if current_number == 0:
        previous_number = 0
    else:
        previous_number = current_number - 1

    # Calculate the sum of the current and previous numbers
    total_sum = current_number + previous_number

    # Print the current number, previous number, and their sum
    print(f"Current Number {current_number} Previous Number {previous_number} Sum: {total_sum}")

Printing current and previous number sum in a range(10)
Current Number 0 Previous Number 0 Sum: 0
Current Number 1 Previous Number 0 Sum: 1
Current Number 2 Previous Number 1 Sum: 3
Current Number 3 Previous Number 2 Sum: 5
Current Number 4 Previous Number 3 Sum: 7
Current Number 5 Previous Number 4 Sum: 9
Current Number 6 Previous Number 5 Sum: 11
Current Number 7 Previous Number 6 Sum: 13
Current Number 8 Previous Number 7 Sum: 15
Current Number 9 Previous Number 8 Sum: 17

# Exercise 7

In [8]:
# Define the original string
string = "pynative"

# Print the original string
print("Original String is:", string)

# Extract even-indexed characters from the string
even_characters = string[::2]

# Iterate through even-indexed characters and print each character on a new line
for char in even_characters:
    print(char)

Original String is: pynative
p
n
t
v

# Excercise 8

In [12]:
# Define salary-related constants
wage_per_hour = 80  # in pounds
hours_per_week = 35
tax_rate = 0.15  # 15%

# Calculate weekly and monthly salary
weekly_salary = wage_per_hour * hours_per_week
monthly_salary = weekly_salary * 4

# Calculate tax amount
tax_amount = monthly_salary * tax_rate

# Calculate net salary after tax deduction
net_salary = monthly_salary - tax_amount

# Display John's Monthly Salary Calculation
print("John's Monthly Salary Calculation:")
print(f"Hourly Wage: £{wage_per_hour}")
print(f"Hours per Week: {hours_per_week}")
print(f"Weekly Salary: £{weekly_salary}")
print(f"Monthly Salary before Tax: £{monthly_salary}")
print(f"Tax Deduction ({tax_rate * 100}%): £{tax_amount}")
print(f"Net Monthly Salary: £{net_salary}")

John's Monthly Salary Calculation:
Hourly Wage: £80
Hours per Week: 35
Weekly Salary: £2800
Monthly Salary before Tax: £11200
Tax Deduction (15.0%): £1680.0
Net Monthly Salary: £9520.0